body.woocommerce.archive {
	.woocommerce-products-header, #breadcrumbs{
		display: none;
	}	
	.woocommerce-result-count {
		display: none;
	}
	select.orderby {
		display: none;
	}
	#main-navigation .navbar-collapse {
		border-bottom: 3px solid #cbcbcb !important;
	}
	h1.search {
		font-family: 'BELLABOO-Regular', sans-serif;
		color:#912d1e;
		font-size:1.5em;
		width:100%;
		display: inline-block;
	}
}
nav.woocommerce-pagination {
	float: right;
	padding-bottom:30px;

	ul {
		border:none !important;
	}
	li {
		border:none !important;
	}
	* {
		border: none !important;
		background: transparent !important;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
	}
	li * {
		font-weight: 600 !important;
		font-size:1.3em !important;
		color:#929393 !important;
	}
	li .current {
		color:#912d1e !important;
	}

}
.post-type-archive-product{
	.buttons-qty input{
		width: 35px;
		margin-left: 11px!important;
		margin-right: 11px!important;
	}

}
