
body.woocommerce-cart, body.woocommerce-checkout {
	.entry-header{
		.entry-title{
			padding: 0 10px;
		}
	}
	tr.yith-wcpb-bundle-table-item{
		a.open-bundle-links{
			margin-top: 10px;
			color:#fff!important;
			text-transform: uppercase;
		}
	}
	&.woocommerce-page #content, &.woocommerce-page {
		.button.open-bundle-links, .woocommerce-info .button{
		   font-family: 'BELLABOO-Regular', sans-serif !important;
		   text-align: center;
		   border:none !important;
		   background:#ff6600 !important;
		   color:#FFF !important;
		   display: inline-block;
		   border-radius: 0 !important;
		   font-weight: normal !important;
		   clear: both;
		   box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
	   }
		table.cart {
			td.actions {
				button, .button{
					width: 100%;
					max-width: 400px;
					font-family: 'BELLABOO-Regular', sans-serif !important;
					text-align: center;
					border:none !important;
					background:#ff6600 !important;
					color:#FFF !important;
					display: inline-block;
					border-radius: 0 !important;
					font-size:1.5em !important;
					font-weight: normal !important;
					clear: both;
					width:100%;
					margin-top:10px !important;
					box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
					padding: 16px 12px !important;
					float: right;
				}
				.coupon{
					width: 100%;
					.input-text{
						margin: 0;
						padding: 16px 12px!important;
						float: right;
						width: 100%;
						max-width: 400px;

					}
				}
			}
		}
	}
	tr.yith-wcpb-child-of-bundle-table-item{
		border:none;
		border-bottom: 0 solid #ccc!important;
		border-top: 0 solid #ccc!important;
		display: none;
		td.product-name a{
			font-size: initial;
			padding: initial!important;
		}
		td{
			border:0;
		}

	}
	.cart-links{
		margin-top: 0px!important;
		text-align: right;
		float: right;
		max-width: 400px;
		width: 100%;
		.col-md-6{
			width: 100%;
		}
		a{
			max-width: 400px;
		}
		@media screen and( max-width: 768px ) {
			max-width: 100%;

			a{
				max-width: 100%;
			}
		}
	}
	.cart-collaterals{
		.cart_totals{
			float: none;
			width: 100%!important;
			text-align: left;
			.wc-proceed-to-checkout{
				max-width:400px;
				width: 100%;
				float: right;
				padding: 0;
				a{
					margin: 0;
				}
			}
		}
		.cross-sells{
			width:100%;
			ul{
				display: flex;
				width: 100%;
				flex-wrap: wrap;

				li{
					@media screen and( min-width: 760px ) {
						max-width:25%;
					}
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: 33.3333%;
					flex-basis: 200px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin:5px!important;
				}
			}
		}
	}

	.product-quantity{
		.buttons-qty{
			span{
				padding-top: 4px;
			}
		}
	}
	.donate_button_div{
		clear:both;
		padding:10px 0;
		input[type="radio"] {
		visibility: hidden;
		height: 0;

		}
		.instituicoes{
			display: flex;
			justify-content: center;
			.instituicao{
				max-width: 150px;
				margin:20px;
				label {
					position: relative;
					width: 100%;
					text-align: center;
					display: block;
					border: 4px solid transparent;
					float: left;
					margin-top:-5px;
					margin-bottom:10px;
					&:before{
						background-color: #0000000f;
						content: '';
					    height: 100%;
					    width: 100%;
					    position: absolute;
						opacity: 0;
						-webkit-transition: opacity 0.5s ease-in-out;
						  -moz-transition: opacity 0.5s ease-in-out;
						  -ms-transition: opacity 0.5s ease-in-out;
						  -o-transition: opacity 0.5s ease-in-out;
						  transition: opacity 0.5s ease-in-out;
					}
				}
				input[type="radio"]:checked+label {
					border-color: #ff6700;
					opacity: 0.8;
					&:before{
						-webkit-transition: opacity 0.5s ease-in-out;
						  -moz-transition: opacity 0.5s ease-in-out;
						  -ms-transition: opacity 0.5s ease-in-out;
						  -o-transition: opacity 0.5s ease-in-out;
						  transition: opacity 0.5s ease-in-out;
						opacity: 1;
					}
				}
			}
		}

		h4{
			text-align: center;
			clear: both;
			font-size: 16px;
		}
		p{
			margin-bottom:0;
		}
		img{
			width:100%;
		}
	}
}
body.woocommerce-cart {

	.cart-coupon div.col-md-12 input[type="submit"]{
		margin-top: -3px!important;
    	padding: 7.5px!important;
	}
	.woocommerce-cart-form__cart-item{
		.product-quantity{
			min-width: 150px;
		}
	}
	header#header {
    	padding-top: 45px;
    	padding-bottom: 10px;
	}
	main > article {
		width:100% !important;
		@media screen and( max-width: 760px ) {
			padding-bottom:50px;
		}
	}
	@media screen and( max-width: 700px ) {
		.cart_item td {
			width:100% !important;
			clear: both !important;
		}
		.yith-wcpb-child-of-bundle-table-item{
			.product-price,
			.product-remove,
			.product-subtotal {
				display: none !important;
			}
		}
	}
	@media screen and( min-width: 760px ) {
		.cart_item .product-thumbnail {
			a {
				display: inline-block;
				height:auto;
				overflow: hidden;
			}
			img {
				width:150px !important;
				height:auto !important;
			}
		}
	}
	.cart_item {
		.product-name a,
		div.bundle-items,
		.product-price {
			font-family:'Source Sans Pro', sans-serif;
			font-weight: 600;
			color:#929393 !important;
			&:before {
				color:#000;
			}
		}
		td.product-quantity select {
			display:none;
		}
		.buttons-qty {
			input {
				margin-top: -10px;
				background: transparent none repeat scroll 0% 0%;
				border: 1px solid rgb(195, 195, 195);
				padding: 7px;
				text-align: center;
			}
		}
		.product-remove a {
			color:#929393 !important;
			font-size:1.2em;
			font-family: 'Source Sans Pro', sans-serif;
			display: inline-block !important;
			width: 32px !important;
			height:32px !important;
			background: none !important;
			transition:300ms ease all;
			.remover-mobile{
				display: none;
			}
			.remover-desktop{
				display: block;
			}
			&:hover {
				margin-top:7px;
			}
		}
		@media screen and( max-width: 768px ) {
			.buttons-qty {
				// display: none !important;
			}
			.woocommerce-cart-form__contents{
				tr{
					td.product-remove, td.product-thumbnail{
						width:50%;
						display: block;
						clear:none;
					}
				}
			}
			td.product-quantity select {
				display: inline !important;
			}
			.product-remove a{
				display: flex!important;
			    width: 100% !important;
			    justify-items: center;
			    align-items: center;
				display: inline-block !important;
				width:100% !important;
				.remover-mobile{
					display: block;
				}
				.remover-desktop{
					display: none;
				}
				&:before {
					float: left;
					content: attr(data-title);
					font-weight: 700;
					text-indent: 0px;
					width: 100%;
					display: inline-block;
					color:#912d1e !important;
				}
			}
		}
	}
	.yith-wcpb-child-of-bundle-table-item {
		.buttons-qty {
			display: none !important;
		}
	}
	@media screen and( min-width: 760px ) {
		table.shop_table {
			border:0 !important;
			border-collapse:collapse !important;
			tr {
				border-top: 3px solid #ccc !important;
			}
			tr.yith-wcpb-child-of-bundle-table-item{
				border:none;
				border-bottom: 0 solid #ccc!important;
				border-top: 0 solid #ccc!important;
			}
			tr::last-child {
				border-bottom: 2px solid #FFF !important;
			}
			thead > tr {
				border: 0 !important;
			}
			div.bundle-items {
				width:50%;
				margin-top:13px;
			}
			.product-subtotal {
				text-align: center;
			}
			.product-subtotal span {
				font-family:'Source Sans Pro', sans-serif;
				font-weight: 800;
				color:#000 !important;
			}
		}
		.cart_totals {
			width:30% !important;
			td {
				text-align: right;
			}
			table {
				border:0 !important;
				border-collapse:collapse !important;
				tr {
					border-bottom: 2px solid #FFF !important;
				}
			}
		}
	}
	.cart_totals th,
	.cart_totals td::before {
		text-transform: uppercase;
	}
	.cart_totals .cart-subtotal th,
	.cart_totals .shipping th {
		font-weight: normal !important;
	}
	.checkout-button {
		font-family: 'BELLABOO-Regular', sans-serif !important;
		text-align: center;
		border:none !important;
		background:#ff6600 !important;
		color:#FFF !important;
		display: inline-block;
		border-radius: 0 !important;
		font-size:1.5em !important;
		font-weight: normal !important;
		clear: both;
		width:100%;
		margin-top:10px !important;
		box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
		padding: 16px 12px !important;
	}
	.btn-cart-link {
		margin-top:10px !important;
		padding: 12px 12px !important;
		min-height: 55px;
    	line-height: 1.4em!important;
	}
	.cart-links {
		padding-left:0 !important;
		padding-right:0 !important;
		margin-bottom: 70px !important;
    	margin-top: 30px;
		@media screen and( max-width: 760px ) {
			padding-bottom:50px;
		}
		div {
			padding:0 !important;
			@media screen and( max-width: 760px ) {
				width:100%;
			}
		}
	}
}
.cart-coupon {
	padding:0;
	label {
		font-weight: normal;
		padding:0;
	}
	div.col-md-12 {
		@media screen and( min-width: 760px ) {
			padding-left:50px;
		}
		input[type="text"] {
			background: rgb(255, 255, 255) none repeat scroll 0% 0%;
			border: 1px solid rgb(195, 195, 195);
			padding: 4px;
			@media screen and( max-width: 760px ) {
				width:100%;
			}
		}
		input[type="submit"] {
			font-family: 'BELLABOO-Regular', sans-serif !important;
			text-align: center;
			border:none !important;
			background:#ff6600 !important;
			color:#FFF !important;
			display: inline-block;
			border-radius: 0 !important;
			font-weight: normal !important;
			box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
			margin-top: -2px;
			@media screen and( max-width: 760px ) {
				clear:both;
				width:100%;
				margin-top:10px;
			}
		}
	}
}
@media (min-width: 992px)
{
	body.woocommerce-cart {
		.donate_button_div{
			.instituicoes{
				justify-content: left;
				.instituicao{
					&:first-child{
						margin-left:0;
					}
				}
			}
		}
	}
}
@media (max-width: 991px)
{
	.donate_button_div{
		text-align: center;
	}
	body.woocommerce-cart {
		.donate_button_div{
		    border: 1px solid #dcddde;
		    margin-top: 20px;
		    border-radius: 0;
		    padding-top: 13px;
		    padding-left: 8px;
		    margin-top: 23px;
		    padding-right: 8px;
		    float: left;

		}
	}
}
@media (max-width: 768px)
{
	.woocommerce table.shop_table_responsive tr.yith-wcpb-child-of-bundle-table-item, .woocommerce-page table.shop_table_responsive tr.yith-wcpb-child-of-bundle-table-item {
	display: none;
	}
}

body.woocommerce-cart {
	.col-md-12{
		padding: 0px;
	}
	.dropdown-menu{
		.col-md-12{
			padding: 15px;
		}
	}
	@media screen and( max-width: 992px ) {
		body.woocommerce-cart .cart-collaterals .cross-sells ul li, body.woocommerce-checkout .cart-collaterals .cross-sells ul li{
			flex-basis: initial;
		}
	}
	@media screen and( max-width: 768px ) {
		ul.products li.product, .woocommerce-page ul.products li.product{
			min-height: initial;
			padding: 10px 0px 25px!important;
		}

		.actions{
			padding: 0!important;
			.coupon{
				#coupon_code{
					border-right: 0;
					border-left: 0;
					margin-right: 0;
				}
			}
			button[name="update_cart"]{
				width: 100%;
				clear: both;
				margin-top: 10px;
				opacity: 1!important;
				background: #f46c0c;
				color: #fff;
				text-transform: uppercase;
				font-family: bellaboo-regular,sans-serif!important;
				text-align: center;
				border: none!important;
				background: #f60!important;
				color: #fff!important;
				display: inline-block;
				border-radius: 0!important;
				font-size: 1.5em!important;
				font-weight: 400!important;
				clear: both;
				width: 100%;
				margin-top: 10px!important;
				box-shadow: 0 1px 5px 0 rgba(251,185,88,.75)!important;
				padding: 16px 12px!important;
				max-width: initial;

			}
		}
		h2{
			padding: 10px;
			font-size: 25px;
		}
		.cart-collaterals{
			.cart_totals{
				.wc-proceed-to-checkout{
					max-width: 100%;
				}
			}
			.cart-links{
				a{
					max-width: 100%;
				}
			}
			.cross-sells{

				ul.products{
					padding: 5px;
					display: block;
					.product{
						min-height: initial;
						.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
							img{
								width: 33%;
								padding: 8px 5px 0 !important;
								float: left;
							}
							.woocommerce-loop-product__title, .price{
								text-align: left;
								padding-left: 10px;
								width: 66%;
								float:left;
							}
						}
						.add-to-cart-container{
							padding-top: 0;
							clear: none;
							position: absolute;
							bottom: 12px;
							right: 16px;
							width: 60%;
							.cart-btn{
								width: 30%!important;
							}
							.buttons-qty {
								width: 70%!important;
							}
							.buttons-qty, .cart-btn {
								padding: 0;
								clear: none!important;
								a{
									padding: 0;
								}
							}

						}
					}
				}
			}
		}

		thead{
			display: none;
		}
		tr.cart_item{
		    overflow: auto;
		    position: relative;
			display: block;
			clear:both;
			td{
				padding: 8px 5px!important;
				border: none;
				display: block;
				float: left;
				width:65%!important;
				clear: none!important;
				&.product-thumbnail{
					display: block;
				    float: left;
				    width: 33%!important;
				    max-width: 33%!important;
					img{
						max-width: 100%;
						width: 100%;
					}
				}
				&.product-remove{
					position: absolute;
					width:auto!important;
					margin-top: -10px;
					right: 0;
					top:0;
					a{
						height: auto!important;
						color: red!important;
						border-radius: 0;

					}

				}
				&.product-quantity{
					width: 41%!important;
					min-width: 137px!important;

				}
				&.product-price{
					width: 22% !important;

				}
				&.product-subtotal{
					float:right;
					text-align: right;
					margin-bottom: 20px;
				}



			}

			&.yith-wcpb-child-of-bundle-table-item{
				padding:0 20px;
				width: 80%;
				margin:0 auto;
				td{
					&.product-quantity {
						width: 50px!important;
						min-width: initial;
					}
					&.product-thumbnail{
						display: none;

					}
				}
			}
		}
	}
	@media screen and( max-width: 500px ) {
		.cart-collaterals{
			.cross-sells{
				ul.products{
					display: block;
					li.product{
						width: 100%;
						margin:5px 0!important;
					}
				}
			}
		}
		tr.cart_item{
			&.yith-wcpb-child-of-bundle-table-item{
				padding:0 20px;
				width: 80%;
				margin:0 auto;
				td{
					&.product-quantity{
						width: 25%;
						min-width: initial!important;

					}
					&.product-name{
						width: 75%;
						padding-left: 20px;
					}
				}
			}
		}
	}
}
