body.woocommerce-checkout{
	.input-check-checkout{
		float:left;
		margin-right:17px;
	}
	#order_review {
		.woocommerce-info {
			display: none !important;
		}
	}
	.wc-credit-card-form-card-number{
		padding-right: 52px!important;
	}
	.woocommerce-billing-fields, .woocommerce-shipping-fields{
		font-size: 0.95em;
	}
	.each-product-checkout {
		display: block;
		clear: both;
	}
	input[type="checkbox"].input-checkbox {
		position: initial!important;
	}
	.woocommerce ul#shipping_method li input{
		margin-left: 2px!important;
    	margin-right: 9px!important;
    	margin-bottom: -1.1px!important;
	}
	.create-account p:first-child{
		padding: 3px;
	}
	.woocommerce-billing-fields > h3:first-child{
		display: none !important;
	}
	.entry-header .entry-title{
		font-family: 'BELLABOO-Regular', sans-serif;
	    color: #912d1e;
	    font-size: 2.1em;
	    background: none !important;
	}
	.navbar-default .navbar-collapse{
		border-bottom: 3px solid #ccc !important;
	}
	.woocommerce-info{
		text-transform: uppercase;
		padding: 0.5em 1em 0.5em 1.75em!important;
		margin-top: 0.4em!important;

	}
	.woocommerce-info:before{
		color: #912d1e;
		content: '';
	}
	.section-block{
		border: 1px solid #929393;
		border-radius: 3px;
		padding-top: 13px;
		padding-left: 8px;
		padding-right: 8px;
		color: #929393;
		font-size: 1.107em;
		font-weight: 500!important;
		margin-bottom: 27px;
	}
	h3.section-title{
	    text-transform: uppercase;
	    font-size: 1.11em;
	    margin-bottom: 9px;
	    font-weight: 700;
	}

	.form-row .required{
		color: #f46d0b!important;
	}

	label{
		margin-bottom: -3px;
		font-weight: 500;
		font-size: 1.04em;
	}

	.form-row input.input-text{
	    border-radius: 2px;
	    border:1px solid #929393;
	    font-weight: 800;
	    padding-left: 6px;
	    color: #393939;
		padding-top: 2px;
	    padding-bottom: 2px;
	}

	form .form-row.woocommerce-validated input.input-text{
		border-color: #7c7c7c!important;
	}

	form .form-row .select2-container{
		line-height: 1.5em;
	}

	form .form-row-last {
		width: 50.002%;
	}

	.woocommerce-shipping-fields h3{
		text-transform: uppercase;
	    font-size: 1em;
	    margin-bottom: 0px;
	    font-weight: 500;
	    margin-top: 0px;
	    padding: 3px;
	    display: block;
	    -webkit-margin-before: 0.6em;
	    -webkit-margin-start: 0px;
	    color:#2D3F;

	}

	form .form-row textarea{
		font-size: 0.95em;
		margin-bottom: 6px;
		padding: 8px;
	}

	input.button.alt{
		background-color: #f46d0b!important;
		transition:all 150ms ease-in-out ;
	}

	input.button.alt:hover{
		background-color: #ff730d!important;
		transition:all 150ms ease-in-out ;
	}

	input.button{
	    font-size: 1.4em;
	    margin: 0;
	    line-height: 1;
	    cursor: pointer;
	    position: relative;
	    font-family: inherit;
	    text-decoration: none;
	    overflow: visible;
	    padding: .618em 1em;
	    font-weight: 500;
	    border-radius: 0px;
	    left: auto;
	    color: #515151;
	    background-color: #ebe9eb;
	    border: 0;
	    white-space: nowrap;
	    display: inline-block;
	    background-image: none;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    text-shadow: none;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;

	}

	#payment{
		background: none!important;
	}

	input[type=radio]{
	    padding-left: 5px;
	    padding-right: 5px;
	    border-radius: 15px;
	    white-space: nowrap;
	    overflow: hidden;
	    outline: none !important;
	    width: 15px;
	    height: 15px;
	    cursor: pointer;
	}

	#order_review{
		border: 1px solid #929393;
		border-radius: 3px;
		padding-top: 13px;
		padding-left: 8px;
		padding-right: 8px;
		color: #929393;
		font-size: 1.107em;
		font-weight: 500!important;
		margin-bottom: 27px;
	}

	.thumbnail, .wp-caption{
		border:0px;
		border-bottom: 0px;
	}

	.each-product-checkout .name{
	    line-height: 3.5;
	    color: #a3a4a4;
	    font-family: 'Source Sans Pro', sans-serif;
	    text-transform: lowercase;
	    font-weight: bolder;
	    font-size:0.9em;
	}

	.each-product-checkout .price{
	    line-height: 3.4em;
	    color: #a3a4a4;
	    font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 700;
	    letter-spacing: 0.2px;
	}

	.review-order-section .row{
		border-bottom: 1px solid;
    	margin-bottom: 5px;
	}

	.section-info{
		font-size: 14px;
    	display: inline-block;
	}

	.cart-subtotal{
	    display: flex;
    	justify-content: flex-end;
	}

	.cart-subtotal .section-info{
	    font-size: 16px;
	    display: inline-block;
	    float: right;
	    padding-right: 20px;
	}

    .cart-subtotal .amount{
	    float: right;
    	line-height: 2.4em;
	}

	.row .total{
	    display: flex;
	    justify-content: flex-end;
	    font-size: 1.08em;
	    text-transform: uppercase;
	    margin-bottom: 11px;
	    color: #030303;
	}

	.row .total strong{
	    margin-left: 15px;
	    font-weight: 800;
	}

	div.woocommerce-checkout-review-order p.form-row #coupon_code{
		height: 3em;
	}

	input.button, .btn-next, span.button {
	    font-size: 1.4em;
	    margin: 0;
	    line-height: 1;
	    cursor: pointer;
	    position: relative;
	    font-family: inherit;
	    text-decoration: none;
	    overflow: visible;
	    padding: .618em 1em;
	    font-weight: 500;
	    border-radius: 0px;
	    left: auto;
	    color: white;
	    background-color: #41a140;
	    border: 0;
	    white-space: nowrap;
	    display: inline-block;
	    background-image: none;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    text-shadow: none;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    cursor: pointer;
	}

	.woocommerce input.button:hover, span.button:hover {
	    background-color: #4dbf4c;
	    text-decoration: none;
	    background-image: none;
	    color: white;
	}
	.checkout-column {
		padding:0 !important;
	}
	.wc_payment_methods {
		border:0 !important;
	}
	span.button {
		box-shadow: none !important;
	}
	.btn-next {
		margin-top: 15px;
    	margin-bottom: 20px;
	}
	.payment_box .form-row {
		width:100% !important;
		clear:both;
	}
	span.button{
		padding: .618em .0em!important;
		width: 100%;
    	text-align: center;
    	font-size: 1.4em;
	}
	input[type=checkbox]{
		margin-top: 18px;
	}
	.form-checkout{
		margin-bottom:50px;
	}
	.review-order-section .row{

	}
	.form-row.place-order.pull-right {
    	margin-top: 15px;
    	margin-bottom: 20px;
	}
	header.entry-header {
		display: none;
	}
}

