.prices-warn {
 	background-color: #41a140;
 	box-shadow: 0px 3px 14px 0px rgba(109, 107, 107, 0.40);
 	margin-bottom:40px;
 	.container {
		padding-top:10px;
		padding-bottom: 10px;
	}
	.text {
		color: #FFF;
		font-weight: 600;
		a {
			color: #FFF !important;
			font-weight: bold;
			text-decoration: underline;
			cursor: pointer;
		}
		.icon {
			text-decoration: none !important;
			margin-right:10px;
			font-size:1.1em;
		}
		.fa {
			font-size:21px;
		}
	}
}
#header #main-navigation {
	clear: both;
}
.header-image {
	img {
		max-width: 100% !important;
	}
}
#searchform {
	width:100%;
	input {
		padding-left:32px;
		width:100% !important;
		border-color:#fbb958;
		box-shadow: 0 0 1px rgba(251,185,88,0.6);
	}
	button {
		position: absolute;
		left: 0;
		z-index: 99;
		margin-left: 16px;
		background:transparent;
		border: none;
		color:#fbb958;
	}
}
#header .woocommerce-infos {
	margin-top:-5px;
	a {
		font-weight: 600;
	}
	* {
		color:#912d1e;
	}
	.fa {
		font-size:32px;
	}
	.separator {
		padding-right: 10px;
		padding-left:10px;
	}
	.cart-infos {
		font-family: 'BELLABOO-Regular', sans-serif;
		font-size:1.2em;
		padding-left:10px;
	}
}
#header .menu-institucional {
	padding-top:10px;
	li, a {
		font-weight:600;
		color:#000;
		transition:200ms ease-in-out all;
		background: transparent !important;
		font-size:1.1em;
	}
	a:hover {
		transition:200ms ease-in-out all;
		opacity:0.60;
	}
}
.cart-dropdown {
	width:230px !important;
	border-radius:0;
	.title {
		font-family: 'BELLABOO-Regular', sans-serif;
		font-size:1.4em;
		color:#a0a0a0 !important;
		text-align: center;
		padding-bottom:10px;
	}
	.separator {
		height:3px;
		background:#EEE;
		margin-top:15px;
		margin-bottom:13px;
		clear: both;
	}
	.post-title {
		padding:0 !important;
		color:#a0a0a0 !important;
		margin-bottom:5px;
		font-weight: 600;
		span {
			color:#fbb958 !important;
		}
		span.big{
			font-size:1.7em;
		}
	}
	.qty-infos {
		padding:0 !important;
		color:#000 !important;
		margin-bottom:5px;
		font-weight: 600;
	}
}
.btn-buy {
	font-family: 'BELLABOO-Regular', sans-serif;
	text-align: center;
	border:none !important;
	background:#fbb958 !important;
	color:#FFF !important;
	display: inline-block;
	margin-top:20px;
	border-radius: 0 !important;
	font-size:1.5em;
}
.navbar-main-navigation {
	background: none !important;
	border:transparent !important;

	ul.has-image {
		min-height: 120px;
    	padding-right: 160px;
    	img {
    		position: absolute;
			right: 20px;
			height: 80px;
			width: 80px;
    	}
    	@media screen and (max-width: 480px) {
    		img {
    			display: none;
    		}
    	}

	}
	ul.nav > li > ul.dropdown-menu {
		box-shadow: 0px 1px 2px 0px rgba(146,147,147,0.75) !important;
		border-radius:0 !important;
		background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
		a {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			color:#912d1e;
			padding-bottom:15px;
			background: transparent !important;
		}
	}
	ul.nav > li > a {
		font-family: 'BELLABOO-Regular', sans-serif;
		color:#912d1e;
		font-size: 2.1em;
		background: none !important;

		span {
			font-size:0.8em;
			padding-left:16px;
		}
	}
	ul.nav > li.open {
		box-shadow: 0px -1px 5px 0px rgba(146,147,147, 0.75);
	}
	ul.nav li:last-child a span {
		display:none;
	}
}
#main-navigation {
	background: none !important;
	border:transparent !important;
	padding-top:25px;
}
