.home-slider {
	width:100%;
	margin-top:-20px;
	overflow: hidden !important;
	.col-md-12 {
		padding:0;
	}
	img {
		max-width: 100% !important;
	}
}
.slider-destaques {
	@media screen and (min-width: 760px) {
		.slick-slide {
			padding-right:10px;
		}
	}
}
button.slick-prev {
	width:40px;
	height:60px;
	background: url('../images/slider-prev.png') no-repeat !important;
}
button.slick-next {
	width:40px;
	height:60px;
	background: url('../images/slider-next.png') no-repeat !important;
}
button.slick-prev, button.slick-next {
	&:before {
		content: '';
		display:none;
	}
}
