body.woocommerce-account.unlogged-user {
	.entry-header {
		display: none;
	}
}
.woocommerce-EditAccountForm, .edit-account{
	padding: 0px;
	margin-top:10px;
}
.totals {
	div.total .list-data {
		color:#000;
	}
	.list-price {
		color:#000;
	}
	.each-total {
		padding-bottom:10px;
	}
	@media screen and ( max-width: 700px ) {
		padding-bottom:20px;
		* {
			text-align: left !important;
		}
	}
}
.bttht{
		display: flex;
    	align-items: center;
    	justify-content: center;
    	padding-top: 25px;
	}
.btt-ordersS{
		border-radius: 0px;
    	font-family: 'BELLABOO-Regular', sans-serif;
	    font-size: 1.3em;
	    padding-left: 20px;
	    padding-right: 20px;
	    background: darkgrey;
		margin-right: 14px;
	    border: 0px;
}
.ordersBTT{
		background-color: #ea6a0d;
	    border-radius: 0px!important;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    font-size: 1.3em!important;
	    padding-left: 25px!important;
	    padding-right: 25px!important;
	    background: #f46d0b !important;
	    border: 0px!important;
	    font-weight: normal!important;
}
.btt-ordersR{
		background-color: #ea6a0d;
	    border-radius: 0px!important;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    font-size: 1.3em!important;
	    padding-left: 25px!important;
	    padding-right: 25px!important;
	    background: #f46d0b !important;
	    border: 0px!important;
	    font-weight: normal!important;
}
.btt-ordersS:hover, .btt-ordersS:active{
		background: darkgrey;
}
.noNo{
	padding: 0px!important;
    margin: 0px;
}

@media all and(max-width:769px) {
	table.shop_table td{
		max-width: initial!important;
	}
	.each-order-list{
	    height: 264px!important;
	}
}
.woocommerce-view-order{
	.btt-ordersS{
		background: darkgrey;
		margin-right: 14px
	}

	.btt-ordersR{
		background-color: #ea6a0d;
	    border-radius: 0px!important;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    font-size: 1.3em!important;
	    padding-left: 25px!important;
	    padding-right: 25px!important;
	    background: #f46d0b !important;
	    border: 0px!important;
	    font-weight: normal!important;
	}
}
.woocommerce-orders, .woocommerce-view-order{
	.product-name{

	}

	table.shop_table td{
		max-width: 249px;
	}
	td.product-quantity {
    	text-align: center;
	}
	td.product-price {
    	text-align: center;
    	color: initial!important;
    	font-weight: normal;
	}
	td.product-subtotal {
    	text-align: center;
    	color: black;
    	font-weight: 900;
	}
	.product-price{
		color: initial;
    	font-weight: initial;
	}
	tfoot .amount{
		color: black;
		font-weight: 900;
	}
	.product-name a{
		text-decoration: none;
		color: grey
	}
	table.shop_table{
		border: 0px!important;
	}
	h2 {
		font-size: 23px!important;
	}
	.each-order-list{
		border: 1px solid;
	    margin-bottom: 17px;
	    padding: 15px;
	}
	.each-order-list .list-data{
		font-weight: normal;
	}
	.status-on-hold, .status-completed {
	    font-weight: bold;
	    color: black;
	}

	h3.endpoint-title{
		margin-bottom: 30px
	}
}
.pass-change-c{
	margin-top: 27px;
	.password-change{
		border: 0px;
	    margin-bottom: 0px;
	    font-family: 'BELLABOO-Regular', sans-serif;
	    color: #912d1e;
	    font-weight: normal;
	}
}
.submitPassBtt{
	background: #f46d0b!important;
    color: white!important;
    border-radius: 0px!important;
    text-transform: uppercase!important;
    font-size: 1.3em!important;
    margin-top: 17px!important;
    font-family: 'BELLABOO-Regular', sans-serif!Important;
    font-weight: normal!important;
}
.submitPassBtt:hover{
	background: #f46d0b!important;
	color: white!important;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	width: 100%!important;
}
.woocommerce-account .woocommerce-MyAccount-content{
	float: left!important;
}
.btt-clas-btt{
	padding:0px;
	margin:0px;
	margin-top:20px;
}
.titleDP{
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #717171;
    margin-top: 20px;
}
.superTitle {
    font-family: 'BELLABOO-Regular', sans-serif;
    color: #912d1e;
    font-size: 1.8em;
    font-weight: 100;
}
body.woocommerce-account main .close-modal {
	display: none !important;
}
body.woocommerce-page {
	.navbar-collapse{
		border-bottom: 3px solid #ccc!important;
	}
	.entry-title{
		font-family: 'BELLABOO-Regular', sans-serif;
		color: #912d1e;
		font-size: 2.0em;
	}
	p.myaccount_user{
		text-transform: uppercase;
	}

	table.shop_table{
		border-radius: 0px;
		border:1px solid #dcddde;
		margin-top: 20px;
	}
	table.shop_table thead{
		background-color: #dcddde;
		text-transform: uppercase;
		font-weight: bold;

	}

	a.button{
		color: white;
		border-radius: 0px;
		background-color: #f46d0b;

	}
	table.my_account_orders th{
		padding: 7px;
	}

	.entry-content table>thead:first-child>tr:first-child>th{
		font-size: 1.25em;
    	color: #929393;
	}

	a.button:hover{
		background-color: #ea6a0d;
	}

	.myaccount_address{
		text-transform: uppercase;
	}
	.address .title h3{
		font-family: 'BELLABOO-Regular', sans-serif;
		color: #912d1e;
		font-size: 1.69em;
		display: inline-block;
		padding-right: 10px;
	}
	.address address{
		text-transform: uppercase;
	    font-weight: bold;
	    font-size: 1.1em;
	}
}

.woocommerce-account .woocommerce{
	padding-bottom: 30px;
	margin-top: 22px;
	h2{
		font-family: 'BELLABOO-Regular', sans-serif;
		color: #912d1e;
		font-size: 1.69em;
	}
}
body.woocommerce-account {
	.entry-header {
		display: none;
	}
	.woocommerce-MyAccount-navigation {
		* {
			font-size: 1.0em;
			text-transform: uppercase;
			font-weight: 400
		}
		h3 {
			color:#000;
			padding-bottom:10px;
		}
		ul {
			padding-left: 0;
		}
		ul li {
			list-style-type: none;
			display: inline-block;
			width: 100%;
			padding-bottom: 20px;
			a {
				color:#c3b9b9 !important;
			}
		}
		ul li.is-active {
			a {
				color:#000 !important;
			}
		}
	}
	h3.endpoint-title {
		color:#912d1e;
		font-family: 'BELLABOO-Regular', sans-serif;
		margin-top: 0px;
	}
	.billing-data {
		.each-item {
			width:100%;
		}
	}
}
.each-item.col-md-12 {
    padding: 0px;
}
body.woocommerce-account .billing-data .each-item {
    width: 100%;
    border-bottom: 1px solid;
    color: #717171;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.pull-left.title {
    font-weight: normal;
    font-size: 1.0em;
}
body.woocommerce-account #customer_login, #reveal-modal-id #customer_login {
	h2 {
		padding-bottom:25px;
	}
	form {
		border:none;
		padding:0;
		display: inline-block;
		border-radius:0 !important;
	}
	p.col-md-6 {
		padding:0;
		padding-right:10px;
	}
	.woocommerce-Address {
    	margin-top: 34px;
	}
	legend{
		margin-bottom: 0px;
    	padding-top: 12px;
	}
	.woocommerce-Button button{
		margin-top: 17px;
	}
	p.col-md-12 {
		padding:0;
	}
	.input-text {
		width:100%;
		background: #fff;
		border: 1px solid #c3c3c3;
		padding: 4px;
	}
	label {
		text-transform: uppercase;
		font-weight: 600;
		color:#929393;
		margin-top: 10px;
	}

	.woocommerce-Button {
		font-family: 'BELLABOO-Regular', sans-serif !important;
		text-align: center;
		border: none !important;
		background: #ff6600 !important;
		color: #FFF !important;
		display: inline-block;
		border-radius: 0 !important;
		font-weight: normal !important;
		box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
		margin-top: 36px;
    	padding-top: 6px!important;
	}
	label[for="rememberme"] {
		display: none;
	}
	.btn-cart-link {
		max-width: none !important;
		width:auto !important;
		margin-top: 30px;
		padding-top: 5px;
		display: block;
	}
	.register-form form {
		width:100%;
		background: #E3E3E3;
		display: inline-block;
		border-radius: 0 !important;
		padding: 30px 30px 60px;
    	padding-bottom: 60px;
    	padding-top: 30px;
	}
	.login-form {
		@media screen and ( min-width: 800px ) {
			border-right:3px solid #f66d00;
		}
	}
}
.woocommerce-account .woocommerce-column__title{
	word-wrap: initial;
}
.each-order-list .list-data > div{
	width: 50%;
	float: left;
}
.brasa-check-delivery-container {
	background: none !important;
	width:100%;

	.input-text {
		width:48% !important;
		background: #fff;
		border: 1px solid #c3c3c3;
		padding: 4px;
	}
	label {
		width:100%;
		clear: both;
		font-size:1.2em;
	}
	.button {
		margin-top: -4px !important;
		margin-left: 8px !important;
	}
	.success {
		background: #41a140;
		color:#FFF !important;
		font-weight: 600;
		padding-left:15px;
		padding-top:20px;
		padding-bottom: 20px;
		padding-right:15px;
		margin-top: 20px;
		font-size: 1.4em;
		display: inline-block;
		margin-bottom: 15px;
		a {
			color:#FFF !important;
			text-decoration: underline;
		}
	}
	.error {
		width: 100%;
		background: #912d1e;
		color:#FFF !important;
		font-weight: 600;
		padding-left:15px;
		padding-top:20px;
		padding-bottom: 20px;
		padding-right:15px;
		margin-top: 20px;
		font-size: 1.4em;
		display: inline-block;
		span{
			font-size:0.7em;
		}
		a {
			color:#FFF !important;
			text-decoration: underline;
		}
	}
}
@media all and(max-width:767px){
	.woocommerce-account{
		.bttht{
			flex-flow: column;
		}
		.btt-ordersS{
			margin-bottom: 13px;
		}
	}
}
