.error-box {
	.error-msg {
		background: #41a140;
		margin-top:20px;
		margin-bottom: 20px;
		font-weight: bold;
		padding-top:15px;
		padding-bottom:15px;
		color:#FFF;
	}
	.btn-cart-link {
		margin-top:0 !important;
	}
}
div#slider-slider-destaques{
	margin-top: 30px;
}
.section-title-bg{
	background-size: 21px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.section-title{
	font-size:1.9em;
}
#page-regioes {
	padding-bottom:50px;
	.row {
		@media screen and ( min-width: 760px ) {
			background: url( '../images/bg-page-regioes.png') center center repeat-y;
			padding-bottom: 40px;
		}
	}
	#content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #912d1e;
			font-family: 'BELLABOO-Regular', sans-serif;
		}
	}
}
