#reveal-modal-id {
	@media screen and ( min-width: 800px ) {
		width: 25% !important;
		margin-left: 0px !important;
		left: 37% !important;
		right: 37% !important;
	}
	h1, h2, h3, h4, h5 {
		color:#912d1e;
		font-family: 'BELLABOO-Regular', sans-serif;
	}
	p {
		color:#929393;
		margin:0;
		font-weight: bold;
		font-size: 1.2em;
	}
	.prev-post-reveal-nav, .next-post-reveal-nav {
		display: none !important;
	}
}
#reveal-modal-id.modal-bigger {
	@media screen and ( min-width: 800px ) {
		margin-left: -40% !important;
		width: 80% !important;
		left: 50% !important;
		right: 0 !important;
	}
	> h1 {
		display: none;
	}
}
.brasa-check-delivery-container .elements .woocommerce-Button{
	min-height: 25px;
    font-size: 1.2em !important;
    max-height: 30px;
}
.col-xs-12.col-sm-12.col-md-5.pull-left.login-form .col-md-8, .col-md-10{
	padding: 0px;
	margin: 0px;
}
.col-xs-12.col-sm-12.col-md-5.pull-left.login-form .col-md-10 {
	a.btn.btn-primary.btn-cart-link {
	    font-size: 1.09em!important;
	}
}
