.blog-container{
	margin-top: 19px;
	margin-bottom: 40px;
	#sidebar{
		margin-top: 19px;
	}
	.widget{
		margin-bottom:20px;
	}
	.widget_search{
		margin-bottom: 55px;
	}
	.entry-meta {
	    margin-bottom: 10px;
	    font-size: 16px;
	    margin-top: 16px;
	}
	time.entry-date {
	    font-weight: bold;
	}
	span.author.vcard {
	    font-weight: bold;
	}
}
