body.single-product #content{
	width: 100%!important;
	.woocommerce-main{
		flex-wrap: wrap;
		.woocommerce-notices-wrapper{
			width: 100%;
		}
		#tab-title-description{
			display: none;
		}
		.woocommerce-tabs ul.tabs{
			margin: 0;
		}
		.woocommerce-Tabs-panel--description h3:nth-of-type(1){
			display: none;
		}
		// div.product div.woocommerce-product-gallery{
		// 	width:58%!important;
		// 	.woocommerce-product-gallery__image{
		// 		width:75%;
		// 		float:left;
		// 	}
		//
		// 	.product-grouped{
		// 		width:25%;
		// 	}
		// 	@media all and (max-width: 780px) {
		// 		width:100%!important;
		// 		.product-grouped{
		// 			width:100%;
		// 		}
		// 		.woocommerce-product-gallery__image{
		// 			width:100%;
		// 			float:left;
		// 		}
		// 	}
		// }
	}
}
.product-type-simple{
	.singleProduct .col-md-5{
		margin-bottom: 45px
	}
}
.product-type-yith_bundle .col-md-offset-1 {
    margin: 0px;
    float: right;
}
@media all and (max-width: 992px) {
	body.woocommerce div.product{
    	margin-left: 0px!important;
	}
}
.buttons-qty.col-md-8.pull-left {
    padding: 0px;
    padding-left: 15px;
}
.shop_table{
	thead{
		font-size: 0.8em;
	}
}
.cart_totals {
	span.woocommerce-Price-amount.amount{
		color: black;
		font-weight: 800;
	}
	.woocommerce ul#shipping_method .amount {
	    font-weight: 800;
	}
	tr.order-total {
	    color: black;
	}
}
.product-subtotal{
	color: black;
	font-weight: 800;
}
.breadcrumb {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600 !important;
	background: none !important;
	margin-top:-20px;

	li + li::before {
		content: ' > ' !important;
		color: #969494 !important;
	}
	li *, li {
		color:#969494 !important;
		text-transform: uppercase;
	}
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
	width: 46%!important;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page .product-type-yith_bundle div.product div.images {
	width: 48%;
}

body.single-product{
	.thumbnails.columns-4 {
    	margin-top: 20px;
	}
	.singleProduct.col-md-6{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-10{
		width:100%!important;
	}
	.col-md-9{
		width: auto!important;
	}
	/* |||||||||||||||||||| */
	.cart{
		display: block!important;
	}
	.single_add_to_cart_button {
		width: 100%!important;
	}
	.btn-primary, .btn-cart-link{
		width: 100%!important;
	}
	.entry-summary{
		float: left!important;

		@media screen and (min-width: 992px) {
			margin-left: 8.3%;
		  	width:33%!important;
	    }
		@media screen and (max-width: 991px) {
			margin-left: 0%;
		  	width:100%!important;
	    }
	}
	.product-grouped-list{
		margin-bottom: 1.8px;
	}
	.section-title {
		display: none !important;
	}
	/* ||||||||||||||||||||||||||||| */
}
body.tax-product_cat{
	.buttons-qty input{
		margin-left: 6px!important;
    	margin-right: 6px!important;
	}
	ul.products li.product .price{
		font-weight: bolder!important;
	}

	.woocommerce-pagination{

	}
}
body.woocommerce {
	span.onsale{
		z-index: 9999999;
	}


	.woocommerce-product-rating{
		display:none!important;
	}


	.product_meta{
		display: none;
	}

	div.product .product_title{

	}

	div.product{
		margin-left: 80px;
	}
	div[itemprop="offers"]{
		margin-top: 20px;
	}
	div.product form.cart, .woocommerce div.product p.cart {
	    margin-bottom: 2em;
	    display: flex;
	    flex-flow: column;
	    justify-content: center;
	    align-items: center;
	    margin-top: 3.2em;
	}
	.product-type-yith_bundle div.product p.cart{
		display: none!important;
	}
	div[itemprop="description"] p{
		display:none;
	}
	#main-navigation .navbar-collapse {
		border-bottom: 3px solid #912d1e !important;
	}
	.woocommerce-main {
		display: flex;
		justify-content:center;
	}
	.product img {
	    border: 3px solid #dcddde;
	    border-radius: 4px;
	}
	.woocommerce-main img {
		padding:0px;
	}
	.zoom::before {
		font: normal normal normal 14px/1 FontAwesome;
		content: '\f002';
		color: #000;
		float: right;
		font-size: 16px;
		margin-top: -5px;
		margin-bottom: -30px;
		margin-right: 10px;
		padding-top: 15px;
		background: #FFF;
	}
	.single_add_to_cart_button {
		padding-bottom: 15px !important;
		padding-top: 15px !important;
		padding-left:3px !important;
		padding-right:3px !important;
		line-height: 0.7em!important;
		font-family: 'BELLABOO-Regular', sans-serif !important;
		text-align: center;
		border:none !important;
		background:#ff6600 !important;
		color:#FFF !important;
		display: inline-block;
		margin-bottom: 20px!important;
		border-radius: 0 !important;
		font-size: 1.5em !important;
		font-weight: normal !important;
		clear: both;
		width:100%;
		margin-top:20px !important;
		margin-bottom:10px !important;
		box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
	}
	#reviews{
		margin-top: 50px;
	    border-top: 3px solid #cdcbcb;
	    @media screen and (min-width: 700px) {
	    	padding-left: 60px;
	    	padding-right: 60px;
	    }

	    padding-top: 20px;
	    margin-bottom: 80px;
	}
	#reviews h2{
		color:#8e2f20;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.star-rating span:before{
		color: #fbb958;
	}
	p.stars a{
		color: #fbb958;
	}
	#reviews h3{
		font-size: 16px;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-bottom: 15px;
	}

	#review_form #respond{
		margin-left: 40px;
    	margin-top: 20px;
	}
	#review_form #respond textarea{
		padding-left: 5px;
	}
	#respond input {
	    width: 100%;
	    padding-left: 5px;
	}
	#review_form #respond p{
		text-transform: uppercase;
	}
	#review_form #respond .form-submit input{
		text-transform: uppercase;
    	background-color: #fbb958;
    	color:white;
    	transition: all 200ms ease-in-out;

	}
	#review_form #respond .form-submit input:hover{
    	background-color: #f7c478;
    	transition: all 200ms ease-in-out;

	}
	.buttons-qty input{
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}
	.entry-title {
		color:#999999 !important;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif!important;
		margin-bottom: -5px;
		font-weight: 700!important;
	    font-size: 1.3em!important;
	}
	.productSingle .price .amount {
		color:#030303 !important;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bolder !important;
		font-size:1.4em !important;

	}
	.related {
		.products {
			color:#8e2f20;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 30px;
		}
	}
	#tab-description {
		h2:first-child{
			display:none !important;
		}
	}
	.informations-panel {
		width:100%;
		clear: both;
		h2 {
			color:#8e2f20;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 30px;
		}
		hr {
			border-top: 3px solid #cdcbcb !important;
		}
	}
	#tab-additional_information {
		border-top: 3px solid #cdcbcb !important;
	}
	.quantity.buttons-qty, .quantity {
		display: none !important;
	}
	.productSingle .buttons-qty {
		display: flex;
		justify-content:center;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.featured-product {
		@media screen and ( min-width:720px ) {
			a.btn-cart-link {
				margin-right: 25px;
			}
		}
		a {
			font-size:1.3em !important;
			width:auto !important;
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 8px;
			padding-bottom: 8px;
			line-height: 1.6em !important;
		}
		h4 {
			color:#8e2f20;
			font-size: 1.3em;
			font-family: 'BELLABOO-Regular', sans-serif !important;
		}
		.content p {
			color:#999999;
			font-weight: bold;
		}
	}
}
.btn-cart-link {
	font-family: 'BELLABOO-Regular', sans-serif !important;
    text-align: center;
    border: none !important;
    background: #b6b4b2 !important;
    color: #FFF !important;
    display: inline-block;
    border-radius: 0 !important;
    font-size: 1.5em !important;
    font-weight: normal !important;
    max-height: 47px;
    clear: both;
    width: 100%;
    line-height: 1.6em!important;
}

div.product-type-yith_bundle{
	margin-bottom: 100px;
	.product-grouped {
		float: left;
		width: 15%;
		font-size:15px;
		color: #929391;
		text-align: left;
		font-weight: bold;
	}
	.cart{
		display: block!important;
	}
	.single_add_to_cart_button {
		width: 100%!important;
	}
	.btn-primary, .btn-cart-link{
		width: 100%!important;
	}
	.entry-summary{
		float: right!important;
		width:25%!important;
		margin-left: 0px;
	}
	.product-grouped-list{
		margin-bottom: 1.8px;
	}
	table.yith-wcpb-product-bundled-items {
		display: none !important;
	}
	.section-title {
		display: none !important;
	}
	@media screen and (min-width: 780px) {
		.product-grouped-list {
			display: inline-block;
			clear: both;
		}
	}
	@media screen and (max-width: 780px) {
		.product-grouped {
			width:100%;
			clear: both;
			margin-bottom: 20px;
		}
		.section-title {
			display: block !important;
		}
		.entry-summary {
			float:left;
			width:100% !important;
			clear: both;
			padding-top:30px;
		}
	}

}
