.breadcrumb {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600 !important;
	background: none !important;
	margin-top:-20px;

	li + li::before {
		content: ' > ' !important;
		color: #969494 !important;
	}
	li *, li {
		color:#969494 !important;
		text-transform: uppercase;
	}
}
body.woocommerce {
	#main-navigation .navbar-collapse {
		border-bottom: 3px solid #912d1e !important;
	}
	.woocommerce-main {
		display: flex;
		justify-content:center;
	}
	.product img {
		border:1px solid #E3E3E3;
	}
	.woocommerce-main img {
		padding:10px;
	}
	.zoom::before {
		font: normal normal normal 14px/1 FontAwesome;
		content: '\f002';
		color: #000;
		float: right;
		font-size: 16px;
		margin-top: -5px;
		margin-bottom: -30px;
		margin-right: 10px;
		padding-top: 15px;
		background: #FFF;
	}
	.single_add_to_cart_button {
		font-family: 'BELLABOO-Regular', sans-serif !important;
		text-align: center;
		border:none !important;
		background:#ff6600 !important;
		color:#FFF !important;
		display: inline-block;
		margin-top:20px;
		border-radius: 0 !important;
		font-size:1.5em !important;
		font-weight: normal !important;
		clear: both;
		width:100%;
		margin-top:20px !important;
		margin-bottom:10px;
		box-shadow: 0px 1px 5px 0px rgba(251,185,88,0.75) !important;
	}
	#reviews{
		margin-top: 50px;
	    border-top: 3px solid #cdcbcb;
	    padding-left: 60px;
	    padding-right: 60px;
	    padding-top: 20px;
	    margin-bottom: 80px;
	}
	#reviews h2{
		color:#8e2f20;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.star-rating span:before{
		color: #fbb958;
	}
	p.stars a{
		color: #fbb958;
	}
	#reviews h3{
		font-size: 16px;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-bottom: 15px;
	}

	#review_form #respond{
		margin-left: 40px;
    	margin-top: 20px;
	}
	#review_form #respond textarea{
		padding-left: 5px;
	}
	#respond input {
	    width: 100%;
	    padding-left: 5px;
	}
	#review_form #respond p{
		text-transform: uppercase;
	}
	#review_form #respond .form-submit input{
		text-transform: uppercase;
    	background-color: #fbb958;
    	color:white;
    	transition: all 200ms ease-in-out;

	}
	#review_form #respond .form-submit input:hover{
    	background-color: #f7c478;
    	transition: all 200ms ease-in-out;

	}
	.buttons-qty input{
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}
	.entry-title {
		color:#999999 !important;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600 !important;
		font-size:1.5em !important;
	}
	.entry-summary .price .amount {
		color:#000 !important;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600 !important;
		font-size:1.5em !important;
	}
	.related {
		.products {
			color:#8e2f20;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 30px;
		}
	}
	#tab-description {
		h2:first-child{
			display:none !important;
		}
	}
	.informations-panel {
		width:100%;
		clear: both;
		h2 {
			color:#8e2f20;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 30px;
		}
		hr {
			border-top: 3px solid #cdcbcb !important;
		}
	}
	#tab-additional_information {
		border-top: 3px solid #cdcbcb !important;
	}
	.quantity .qty {
		display: none !important;
	}
	.entry-summary .buttons-qty {
		display: flex;
		justify-content:center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.btn-cart-link {
	font-family: 'BELLABOO-Regular', sans-serif !important;
	text-align: center;
	border:none !important;
	background:#b6b4b2 !important;
	color:#FFF !important;
	display: inline-block;
	margin-top:20px;
	border-radius: 0 !important;
	font-size:1.5em !important;
	font-weight: normal !important;
	clear: both;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow: 0px 1px 5px 0px rgba(180,180,181,0.75);
}

div.product-type-grouped{
	margin-bottom: 100px;
	.product-grouped{
		float: left;
		width: 15%;
		font-size:15px;
		color: #929391;
		text-align: left;
		font-weight: bold;
	}
	.entry-summary{
		float: right;
		width: 28%!important;
	}
	.product-grouped-list{
		margin-bottom: 1.8px;
	}

}
