html body.woocommerce-order-received{
	&.woocommerce-checkout{
		table.cart img {
	    	width: 100%;
		}
	}
	.entry-title{
		display: none;
	}
	p{
		// text-align: center;
	}
	h2{
		margin-top: 100px;
	}
	@media screen and( max-width: 768px ) {
		.woocommerce-order{
			padding: 0 10px;
		}
		&.woocommerce-checkout{
			form{
				padding: 0;
				.form-row-last,.form-row {
					padding:0;
					width:100%!important;
					input{
						width:100%;
					}
				}
			}
		}
		.woocommerce-notice--success{
			font-size: 18px;
			margin: 10px 10px 14px;
			text-align: center;
		}
		ul.order_details{
			margin: 10px;
			padding: 0;
			li{
				width: 100%;
			}

		}
		.total {
		    display: flex;
		    justify-content: space-between!important;
		    align-items: center!important;
			width: 100%;

		}
		.totals{
			padding: 0;
		}
	}
}
.rounded-icon{
	background: #41A140 !important;
	color: #fff !important;
	border-radius: 100%;
	font-size: 19px;
	display: inline-block;
	padding-top: 3px;
	margin-top: 10px;
	width: 32px;
	height: 32px;
	text-align: center;
}

.thank {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
p.woocommerce-thankyou-order-received {
    font-family: 'BELLABOO-Regular', sans-serif;
    color: #912d1e;
    font-size: 2em;
    margin-top: 40px;
}
.orderd {
    color: #2d2d2d;
    text-transform: uppercase;
}
.oder-number {
    text-align: center;
    font-size: 40px;
    color: #2d2d2d;
    margin-top: 28px;
    margin-bottom: 15px;
}
.thankyou {
    border: 3px solid #e6e6e6;
    border-radius: 7px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}
p.quote {
    color: #2d2d2d;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
}
.tY {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.uH{
	color: #2d2d2d;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 20px;
}
