/*
Error: Invalid CSS after "...-product.scss",": expected file to import (string or url()), was "<<<<<<< HEAD"
        on line 26 of ../assets/sass/style.scss

21:         "header.scss",			// Theme       Custom Layout
22:         "footer.scss",			// Theme       Custom Layout
23:         "single-product.scss",	// Theme       Custom Layout
24:         "home.scss",
25:         "archive-product.scss",
26: <<<<<<< HEAD
27:         "checkout.scss"
28: =======
29:         "my-account.scss"
30: >>>>>>> 0e948b90a15c26b8cd1af0479bcc011d669975da
31: ;

Backtrace:
../assets/sass/style.scss:26
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1164:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1078:in `expr!'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:368:in `block in import_directive'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:367:in `loop'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:367:in `import_directive'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:219:in `special_directive'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:194:in `directive'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:410:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.15/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...-product.scss\",\": expected file to import (string or url()), was \"<<<<<<< HEAD\"\A         on line 26 of ../assets/sass/style.scss\A \A 21:         \"header.scss\",			// Theme       Custom Layout\A 22:         \"footer.scss\",			// Theme       Custom Layout\A 23:         \"single-product.scss\",	// Theme       Custom Layout\A 24:         \"home.scss\",\A 25:         \"archive-product.scss\",\A 26: <<<<<<< HEAD\A 27:         \"checkout.scss\"\A 28: =======\A 29:         \"my-account.scss\"\A 30: >>>>>>> 0e948b90a15c26b8cd1af0479bcc011d669975da\A 31: ;"; }
